*{
  margin: 0px;
  padding: 0px;
}
.heading{
  margin-top: 0px;
  height: 52px;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 33px;
}

.carddiv{
 text-align: center;
 background-color: whitesmoke;
 box-shadow: 2px 2px 5px black;
 margin: 6px;
 border-radius: 4px;


}
.list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}




.carddiv img{
  width: 100%;
  height: 400px;
   
}

h1{
   font-family: cursive;
   font-size: 30px;
   margin-top: 0;
   margin: 10px;
   /* padding: 0px 40px; */

}
h3{
  margin: -3px 4px;
  padding: 4px 9px;
}


@media screen and (max-width: 900px)
{
  .list{
   grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 800px)
{
  .list{
   grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 500px)
{
  .list{
   grid-template-columns: 1fr;
  }
}